/* mobile */   
   html{
        font-family: 'Kanit', sans-serif;
        /* transform: scale(0.8); a horrible scaling method that I tried but inconsistent across browsers so please do not use this, better yet, just delete this commented code, because nobody should use it to be frank.
        transform-origin: top left;
        width: 125%;
        height: 125%; */
    }
    body {
        background-color: #0C3D56;
        margin: 0;
        padding: 0;
    }
    .container {
        display: flex;
        justify-content: space-between; 
        padding: 0px;
    }
    .left-list, .right-list {
        margin-top: -75px;
        padding: 20px;
    }
    .center-image {
        flex: 2;
        height:100%;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 5px;
    }
    #map {
        margin-top: 10px;
        height: 700px;
        width: 960px;
        background-image: url("drawMaps/Master.png");
        /* force the background to exactly fill the element's width and height */
        background-size: 100% 100%;
        background-position: center top;
        background-repeat: no-repeat;
        border: solid 5px #707F43;
        background-color: #fff;
    }
    
    #map.nav-active {
        /* width: 100%; */
        /* height: 100%; */
        margin: auto;
        padding: 0;
        margin-top: 10px;
    }
    button {
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        height: 100px;
        width: 290px;
        margin: 5px; 
        border: solid 5px #707F43;
        background-color: white;
        color: black;
    }
    button.classBTN:hover {
        border: solid 5px white;
        background-color: #FF5757;
        color: white;
    }
    button.navBTN {
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        height: 100px;
        width: 290px;
        margin: 5px; 
        border: solid 5px #707F43;
        background-color: #bdc4a8;
        color: rgb(47, 66, 45);
    }
    button.navBTN:hover {
        border: solid 5px white;
        background-color: #a5c93a;
        color: white;
    }
    .container-top {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 100px;
        padding-top: 20px;
    }
    .top-list {
        list-style-type: none;
        padding: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .top-list-item {
        margin: 0;
        padding: 0;
    }
    .container-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 100px;
        padding-top: 35px;
    }
    .bottom-list {
        margin-top: -60px;
        list-style-type: none;
        padding: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .bottom-list-item {
        margin: 0;
        padding: 0;
    }





/* Promethean Board */
@media (min-width: 4000px){
    html{
        font-family: 'Kanit', sans-serif;
    }
    body {
        background-color: #0C3D56;
        margin: 0;
        padding: 0;
        margin-top: 2000px;
        margin-bottom: 6000px;
    }
    .container {
        display: flex;
        justify-content: space-between; 
    }
    .center-image {
        flex: 2;
        height:100%;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
    #map {
        height: 1520px;
        width: 2580px;
        background-image: url("drawMaps/Master.png");
        background-size: 100% 100%;
        background-position: center top;
        background-repeat: no-repeat;
        border: solid 5px #707F43;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    button {
        color: #fff;
        font-size: 70px;
        cursor: pointer;
        height: 200px;
        width: 580px;
        border: solid 5px #707F43;
        background-color: white;
        color: black;
        margin: 15px;
    }
    button.classBTN:hover {
        border: solid 5px white;
        background-color: #FF5757;
        color: white;
    }
    .container-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin-top: 100px;
    }
    .top-list {
        list-style-type: none;
        padding: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .top-list-item {
        margin: 0;
        padding: 0;
    }
    .container-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    .bottom-list {
        list-style-type: none;
        padding: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .bottom-list-item {
        margin: 0;
        padding: 0;
    }
}