html {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    background-color: #0C3D56;
    color: black;
    font-weight: 100;
}

.map-container {
    text-align: center; /* Center the content horizontally */
    padding: 10px;
}

#map {
    height: 408px;
    width: 695px;
    background-image: url("drawMaps/Master.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid 5px #707F43;
    margin: 0 auto; /* Center the map horizontally */
}

#map, .map-container img {
    display: inline-block; /* Make images display inline in the same row */
    vertical-align: middle; /* Center the images vertically */
    margin: 0 10px; /* Add space between the images */
}

.button-section {
    text-align: center;
}

.button-container {
    display: flex; /* Display buttons in a horizontal line */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if they don't fit */
}

.classBTN {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    height: 75px;
    width: 175px;
    margin: 5px; /* Add space between buttons */
    border: solid 5px #707F43;
    background-color: white;
    color: black;
}

button.classBTN:hover {
    border: solid 5px white;
    background-color: #FF5757;
    color: white;
}

